[Desktop Entry]
Name=Tux Math 
GenericName=Educational math game
Comment=Tux Math - Learn math with Tux!
Exec=tuxmath
Icon=/home/lauchlan/.kilauncher/apps/icons/tuxmath.png
Type=Application
Terminal=false
Categories=Education;Math;
## X-SuSE-translate=false
X-Ubuntu-Gettext-Domain=tuxmath
Hidden=false
